<main class="main">
  <div
    class="map"
    leaflet
    (leafletMapMoveStart)="closeContextMenu()"
    (leafletClick)="openContextMenu($event)"
    [leafletOptions]="options"
    [leafletCenter]="viewportCenter$()"
    (leafletCenterChange)="onViewportCenterChange($event)"
    [leafletLayers]="allLayers$()"
  >
    @if (isContextMenuOpen$()) {
      <div
        class="absolute w-20 h-20 z-[999]"
        [ngStyle]="contextMenuPositioning"
      >
        <div class="fixed rounded-lg p-2 bg-bouquet-pink-pastel text-black">
          <a
            class="!text-black text-base"
            routerLink="create"
            [queryParams]="{ lat: clickedLat$(), lng: clickedLng$() }"
          >
            Spot hinzufügen
          </a>
        </div>
      </div>
    }
  </div>

  @defer (when !isLoading$()) {
    @if (!isInfoboxClosed$()) {
      <div
        class="fixed z-[999] bg-bouquet-pink-pastel text-black rounded-lg py-6 px-8 mr-16 top-4 left-16 max-md:bottom-4 max-md:top-auto"
      >
        <div class="flex justify-between gap-x-6 max-md:gap-x-1">
          <h2 class="text-3xl font-bold pb-1">
            Wo ist Sandra?
          </h2>
          <button
            type="button"
            class="border-none cursor-pointer p-0 max-md:flex"
            (click)="closeInfoBox()"
          >
            <ng-icon size="28" name="lucideX"/>
          </button>
        </div>

        <p class="opacity-60 pb-5 italic">Heute feiern wir Sandra!</p>
        <p>Finde einen von {{ markerCount$() }} Sandra-JGA-Spots!</p>
      </div>
    }

    <div class="flex gap-x-3 fixed z-[999] px-3 py-2 border-0 max-sm:max-10 top-4 end-4">
      <button
        type="button"
        class="bg-wedding-mint border-transparent flex items-center text-black"
        (click)="updatePostionAndViewportCenter()"
      >
        <ng-icon
          size="32"
          [ngClass]="{'animate-spin': locationService.isUpdatingPosition$()}"
                    [name]="locationService.isUpdatingPosition$() ? 'lucideLoader2' : 'lucideMapPin'"
        />
      </button>
      <button
        type="button"
        class="bg-bouquet-lilac-pastel border-transparent flex items-center text-black"
        routerLink="search"
      >
        <ng-icon size="32" name="lucideSearch"/>
      </button>
      <button
        type="button"
        class="bg-bouquet-orange-pastel border-transparent flex items-center text-black"
        routerLink="create"
      >
        <ng-icon size="32" name="lucidePlus"/>
      </button>
    </div>

  } @placeholder {
    <div class="fixed flex justify-center z-[999] bottom-4 w-full ">
      <div class="inline-flex justify-center gap-8 p-4 bg-bouquet-pink-pastel text-black rounded-md w-auto">
        <p class="self-center">Spots werden geladen...</p>
        <progress-spinner [show$]="isLoading$()"/>
      </div>
    </div>
  }
</main>
