<main class="min-h-screen relative bg-jga-background text-jga-text">
  <div class="text-end pt-4 px-6">
    <button (click)="navigateBack()" class="text-3xl cursor-pointer border-0" type="button">
      X
    </button>
  </div>
  <div class="m-auto pb-6 px-28 md:px-10 max-sm:px-6 md:max-w-[80vw] lg:max-w-[40vw]">
    <h1 class="font-bold text-3xl mb-4">Neuer JGA-Spot</h1>
    <p class="mb-8">Was ist ein JGA-Spot wert, wenn er nicht auf der Karte auftaucht?</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="markerForm" class="flex flex-col">
      <div class="flex flex-col gap-2 mb-12">
        <label for="title">Titel</label>
        <input aria-describedby="title-help" formControlName="name" id="title"/>
        <small id="title-help">Ort, an dem der Spot stattfindet, z.B. "Düsseldorf Hauptbahnhof"</small>
      </div>
      <div class="flex flex-col gap-2 mb-12">
        <label for="description">Beschreibung</label>
        <input aria-describedby="description-help" formControlName="description" id="description"/>
        <small id="description-help"
        >Nähere Beschreibung des Ortes, z.B. "Auf der Rolltreppe zu Gleis 6"</small
        >
      </div>
      <div class="flex flex-col gap-2 mb-12">
        <label for="uploader">Name (optional)</label>
        <input aria-describedby="uploader-help" formControlName="uploader" id="uploader"/>
        <small id="uploader-help">Person, die den Spot eingetragen hat</small>
      </div>
      <div class="flex flex-col gap-2 mb-12">
        <!--              We need to fake the label because we cannot change the text "Choose file from the input"-->
        <label>Bild (optional)</label>
        <label class="border rounded-xl py-1.5 px-2 text-base text-center hover:shadow-inputs cursor-pointer" for="upload">
          Datei hochladen
        </label>
        <input (change)="handleFileInput($event)" class="hidden" id="upload" type="file"/>
        <small class="mb-4">Erlaubte Formate: .jpg, .png, .jpeg</small>
        <div class="m-auto">
          <p class="pb-3">
            @if (imageUploadState$() === 'succeeded') {
              Upload von "<span class="font-bold italic">{{ fileName }}</span
              >" erfolgreich
            }
            @if (imageUploadState$() === 'uploading') {
              Upload läuft...
            }
            @if (imageUploadState$() === 'failed') {
              Upload fehlgeschlagen
            }
          </p>
          <progress-spinner [show$]="imageUploadState$() === 'uploading'"/>
        </div>
      </div>
      <div class="flex flex-wrap gap-x-6 gap-y-2 mb-8">
        @for (tab of tabsList; track $index) {
          <button
            (click)="selectTab(tab.type)"
            [disabled]="tab.disabled"
            type="button"
            [ngClass]="{
              'shadow-inputs border-2 font-bold': currentTab$() === tab.type,
            }"
          >
            {{ tab.name }}
          </button>
        }
      </div>
      @if (currentTab$() === 'manual') {
        <app-manual [markerForm$]="markerForm" />
      } @else if (currentTab$() === 'position') {
        <app-position />
      }
      <p class="text-center text-xl mt-8">
        @if (uploadState$() === 'uploading') {
          Spot wird gespeichert...
        } @else if (uploadState$() === 'succeeded') {
          Spot wurde erfolgreich gespeichert!
        } @else if (uploadState$() === 'failed') {
          Es ist ein Fehler aufgetreten
        }
      </p>
      <div class="m-auto mt-2">
        <button
          class="text-jga-green border-jga-green-light hover:shadow-inputs hover:shadow-jga-green-light hover:border-jga-green hover:disabled:shadow-none hover: transition-all duration-200"
          [disabled]="!(markerForm.valid && uploadState$() !== 'uploading' && uploadState$() !== 'failed')"
          type="submit">
          Speichern
        </button>
      </div>
    </form>
  </div>
</main>
