<main class="min-h-screen relative bg-bouquet-pink-pastel">
  <div class="text-end pt-4 px-6">
    <button type="button" class="text-3xl cursor-pointer border-0" routerLink="">X</button>
  </div>
  <div class="m-auto pb-6 px-28 md:px-10 max-sm:px-6 md:max-w-[80vw] lg:max-w-[40vw]">
    <h1 class="font-bold text-3xl mb-4">Suchen</h1>
    <div class="flex flex-col gap-2 mb-10">
      <input
        type="text"
        [formControl]="searchTerm"
        id="title"
        placeholder="Gib mindestens drei Zeichen ein..."
        (input)="search()" />
    </div>
    <div class="flex flex-col gap-4">
      @if (foundMarkers.length) {
        <h3>{{ foundMarkers.length }} Spots gefunden</h3>
      }
      @for (marker of foundMarkers; track marker.id) {
        <a
          (click)="navigate(marker)"
          class="bg-bouquet-orange hover:bg-bouquet-pink p-6 cursor-pointer rounded-lg">
          <div class="flex gap-4 items-center">
            @if (marker.country && marker.country.length === 2) {
              <img [src]="getFlagUrl(marker.country)" class="w-6 h-6 rounded-lg" />
            }
            <h4 class="text-xl">{{ marker.name }}</h4>
          </div>
          <p class="mt-2">{{ marker.description }}</p>
          @if (marker.uploader) {
            <small>Von {{ marker.uploader }} eingetragen</small>
          }
        </a>
      } @empty {
        @if (searchTerm.getRawValue()!.length && searchTerm.getRawValue()!.length > 2) {
          Keine Spots gefunden
        }
      }
    </div>
  </div>
</main>
