@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
}

// Label Styles
label {
  @apply border-jga-rose text-xl transition-all duration-200;
}

// Button Styles
button {
  @apply border rounded-xl py-1.5 px-2 border-jga-rose;
}

button:disabled {
  @apply border-gray-500 text-gray-500 bg-gray-200 !important;
}

// Input Styles
input {
  @apply rounded-xl p-2 text-black border border-jga-rose-light outline-none;
}

input:focus {
  @apply shadow-inputs transition-all duration-200 outline-none border-jga-red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
